* {
  padding: 0px;
  margin: 0px;
  font-family: "Medium";
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Light";
  src: local("Birzia-Light"), url("./fonts/Birzia-Light.woff") format("woff");
}

@font-face {
  font-family: "Medium";
  src: local("Birzia-Medium"), url("./fonts/Birzia-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bold";
  src: local("Birzia-Bold"), url("./fonts/Birzia-Bold.woff") format("woff");
}




.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 0;
}

.hero .left-div .why-compress {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.hero .left-div .why-compress .why-icon .icon-question {
  font-size: 30px;
  color: #0080FF;
}

.hero .left-div .why-compress .why-text {
  margin-left: 100px;
}

.hero .left-div .why-compress .why-text h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.hero .left-div .why-compress .why-text p {
  font-size: 14px;
  color: #6e6e6e;
  font-family: light;
}

.compressInfo-span, .compressedImgSize {
  color: #a5a5a5;
  font-family: "Light";
  font-size: 14px;
}

.compressedImgSize {
  color: #0080FF;
}
