$primary: #0080ff;
$secondery: #111111;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Medium";
  direction: rtl;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Light";
  src: local("Birzia-Light"), url("./fonts/Birzia-Light.woff") format("woff");
}

@font-face {
  font-family: "Medium";
  src: local("Birzia-Medium"), url("./fonts/Birzia-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bold";
  src: local("Birzia-Bold"), url("./fonts/Birzia-Bold.woff") format("woff");
}

@mixin button() {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: $primary;
  border: 1px solid $primary;
}

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  right: 35px;
  top: 10px;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/bg.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

#files-section-main {
  display: none;
}

#files-section-for-desktop {
  display: block;
}

.compressInfo-span,
.compressedImgSize {
  color: #a5a5a5;
  font-family: "Light";
  font-size: 13px;
}

.compressedImgSize {
  color: $primary;
}

.toast-message-error {
  color: red !important;
  font-size: 15px !important;
  width: 20vw;
  text-align: center;

  .Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--default {
    background: red !important;
  }
}

.toast-message-success {
  color: $primary !important;
  font-size: 15px !important;
  width: 20vw;
  text-align: center;

  .Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--default {
    background: $primary !important;
  }
}

.posts-main {
  min-height: 100vh;

  p {
    font-family: "Light";
    color: #a5a5a5;
  }
}

.texts {
  text-align: center;
  padding-top: 100px;

  h1 {
    padding-bottom: 15px;
    font-size: 40px;
  }
}

.posts {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
  align-items: center;
  gap: 35px 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 11px 34px #00000029;
  cursor: pointer;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3,
  p {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }

  h3 {
    padding-top: 15px;
    font-weight: bold;
    line-height: 0.5;
  }

  p {
    font-size: 14px;
    font-family: "Light";
    line-height: 1.4;
    color: #a5a5a5;
  }
}

.innerPost {
  width: 100%;

  h2 {
    margin-bottom: 12px;
  }

  p {
    color: #a5a5a5;
    font-family: "Light";
    line-height: 1.6;
  }

  .bg-image {
    background-image: url("../public/placeholder.webp");
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .innerPost-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 125px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  #logo {
    width: 125px;
  }

  #files-section-main {
    display: block;
  }

  #files-section-for-desktop {
    display: none;
  }

  .toast-message-success {
    color: $primary !important;
    font-size: 15px !important;
    width: 100%;
    text-align: center;
  }

  .toast-message-error {
    color: red !important;
    font-size: 15px !important;
    width: 100%;
    text-align: center;
  }

  .posts-main {
    padding-left: 25px;
    padding-right: 25px;

    h1 {
      font-size: 30px;
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
  }

  .post {
    width: 100%;
  }
}

.innerPost {
  width: 100%;

  h2 {
    margin-bottom: 12px;
  }

  p {
    color: #a5a5a5;
    font-family: "Light";
    line-height: 1.6;
  }

  .bg-image {
    width: 100%;
    object-fit: contain;
  }

  .innerPost-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .main {
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
  }
}
