$primary: #0080FF;
$secondery: #111111;


* {
  padding: 0px;
  margin: 0px;
  font-family: "Medium";
  direction: rtl;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Light";
  src: local("Birzia-Light"), url("./fonts/Birzia-Light.woff") format("woff");
}

@font-face {
  font-family: "Medium";
  src: local("Birzia-Medium"), url("./fonts/Birzia-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bold";
  src: local("Birzia-Bold"), url("./fonts/Birzia-Bold.woff") format("woff");
}

@mixin button() {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: $primary;
  border: 1px solid $primary;
}

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}




#logo {

    position: absolute;
    right: 35px;
    top: 10px;

}

.main {
    height: 100vh;
    background-image: url("../public/bg.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;


}


.compressInfo-span,
.compressedImgSize {
  color: #a5a5a5;
  font-family: "Light";
  font-size: 13px;
}

.compressedImgSize {
  color: $primary;
}

.toast-message-error {
  color: red !important;
  font-size: 15px !important;
  width: 20vw;
  text-align: center;

  .Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--default {
    background: red !important;
 }
}

.toast-message-success {
  color: $primary !important;
  font-size: 15px !important;
  width: 20vw;
  text-align: center;

  .Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--default {

    
    background: $primary !important;
 }
}


@media only screen and (max-width: 767px) {
  

    .main {

       flex-direction: column;
       padding-left: 25px;
       padding-right: 25px;
       height: 100%;
       margin-top: 75px;
      
      }

    
  }




@media only screen and (min-width: 767px) and (max-width: 1040px) {
 

  .main {

    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
 }

}