.drop-section {
  width: 550px;
  height: 420px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 41px 57px 63px #00000029;
          box-shadow: 41px 57px 63px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  border-radius: 20px;
}

.drop-section #icon-active {
  overflow: hidden;
  -webkit-animation: float 1.5s ease-in-out infinite;
          animation: float 1.5s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.drop-section .border {
  width: 90%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230080FF6B' stroke-width='3' stroke-dasharray='15' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
}

.drop-section .border .head-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drop-section .border .head-texts .icon-drop {
  font-size: 70px;
  color: #0080FF;
  margin-bottom: 20px;
}

.drop-section .border .head-texts span {
  font-size: 30px;
  font-family: bold;
  line-height: 0.9em;
  color: #111111;
}

.drop-section .border button {
  background-color: #0080FF;
  color: white;
  border-radius: 15px;
  width: 155px;
  height: 40px;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.drop-section .border button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.drop-section .border span {
  font-size: 14px;
  color: #6e6e6e;
  font-family: light;
}

.files-section .files {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.files-section .picDiv {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid #e1e3e6;
}

.files-section .picDiv img {
  border-radius: 5px;
}

.files-section .picDiv .check-icon-div {
  height: 60px;
  margin-right: -10px;
  z-index: 5;
}

.files-section .picDiv .icon {
  background-color: #0080FF;
  color: white;
  border-radius: 100%;
  padding: 2px;
  font-size: 13px;
  margin-left: 4px;
}

.files-section .picDiv .download-icon {
  color: #a5a5a5;
  border-radius: 100%;
  padding: 8px;
  font-size: 17px;
}

.files-section .picDiv .download-icon:hover {
  background-color: #0080FF;
  color: white;
}

.files-section .picDiv .picDiv-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}

.files-section .picDiv .picDiv-details .file-name {
  color: #959595;
  font-size: 14px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.files-section .picDiv .picDiv-details .file-percentage {
  color: #b4b4b4;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 170px;
}
/*# sourceMappingURL=DropFiles.css.map */